---
// Redirect to the booking page
export const prerender = false;
---

<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/book" />
  </head>
  <body>
    <p>Redirecting to <a href="/book">booking page</a>...</p>
  </body>
</html>
